<p id="notice"><%= notice %></p>
New Author

<%= form_for :author do |f| %> <!-- url -> authors_path nicht vergessen-->

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
  </p>
  <p>
    <%= f.label :homepage %><br>
    <%= f.text_field :homepage %><br>
  </p>
  <p>
    <%= f.submit "Create Author" %>
  </p>
  
<% end %>